//Colors
$white: #fafafa;

$bodycolor: #333333; //#2D211F;
$bgcolor:  $white;//#F4F4D9;
$headbgcolor: #72ae95;
$headbordercolor: #f5886b;

$link: $headbordercolor;

$smallspacing: 1.5rem;
$largespacing: 3rem;


$breakpoint: (600/16) + rem;

//CSS Vars
:root{
  --spacing: $smallspacing;
  @media (min-width: $breakpoint){
    --spacing: $largespacing;
  }
}
