<div class="main__block" id="atributos">
  <h2>Atributos</h2>
  <dl>
    <dt><code>id</code></dt>
    <dd>Identifica un elemento concreto para poder aplicarle estilos o funciones de JavaScript. Cada <code>id</code> es único, solo puede aparecer una vez en cada documento HTML.</dd>
    <dt><code>class</code></dt>
    <dd>Identifica a una serie de elementos para poder aplicarles estilos.</dd>
    <dt><code>href</code></dt>
    <dd>Especifica la URL de una página, documento, o ancla a la que apunta un enlace.</dd>
  </dl>
</div>