<div class="main__block" id="texto">
    <h2>Elementos de texto</h2>
    <dl>
      <dt><code>&#60;h1&#62;</code></dt>
      <dd>Marca un encabezado de primer nivel. Solo puede haber uno en cada página.</dd>
      <dt><code>&#60;h2&#62;</code></dt>
      <dd>Marca un encabezado de segundo nivel.</dd>
      <dt><code>&#60;h3&#62;</code></dt>
      <dd>Marca un encabezado de tercer nivel.</dd>
      <dt><code>&#60;h4&#62;</code></dt>
      <dd>Marca un encabezado de cuarto nivel.</dd>
      <dt><code>&#60;h5&#62;</code></dt>
      <dd>Marca un encabezado de quinto nivel.</dd>
      <dt><code>&#60;h6&#62;</code></dt>
      <dd>Marca un encabezado de sexto nivel.</dd>
      <dt><code>&#60;p&#62;</code></dt>
      <dd>Marca un párrafo.</dd>
    </dl>
  </div>