<div class="main__block" id="basicos">
  <h2>Elementos básicos</h2>

  <dl>
    <dt>Comentarios HTML</dt>
    <dd>Los comentarios HTML se escriben entre <code>&lt!--</code> y <code>--&gt;</code>, y permiten poner notas para el desarrollador u ocultar partes del código al navegador. Ejemplo: <code>&lt;!-- Contenido principal --&gt;</code>
    </dd>
    <dt><code>&#60;!DOCTYPE html&#62;</code></dt>
    <dd>Define el tipo de documento. Señala que un documento sigue los estándares W3C.</dd>
    <dt><code>&#60;html&#62;</code></dt>
    <dd>Etiqueta que engloba todo el documento HTML.</dd>
    <dt><code>&#60;head&#62;</code></dt>
    <dd>Etiqueta que engloba la metainformación del documento: título, CSS, JavaScript…</dd>
    <dt><code>&#60;meta charset&#62;</code></dt>
    <dd>Etiqueta, dentro del <code>&#60;head&#62;</code>, que define la metainformación del sistema de codificación de caracteres, que suele ser UTF8: <code>&#60;meta charset="utf-8" /&#62;</code>.</dd>
    <dt><code>&#60;meta name="viewport"&#62;</code></dt>
    <dd><p>
      Esta etiqueta se pone al principio de nuestro html (en el tag <code>head</code>) para que los navegadores móviles sepan que una web se adaptará correctamente a su tamaño (sea web móvil o o web responsive), y que muestren la página contando con la anchura del dispositivo. La forma correcta de escribirlo sería: <code>&#60;meta name="viewport" content="width=device-width, initial-scale=1.0" /&#62;</code>.</p>
      <p>
        En esta etiqueta podríamos hacer otras cosas, como bloquear el zoom al usuario (<code>user-scalable: no</code> dentro del atributo <code>content</code>), pero no es una práctica aconsejable ya que se crea un problema de accesibilidad que casi nunca estará justificado.
      </p>
    </dd>
    <dt><code>&#60;title&#62;</code></dt>
    <dd>Etiqueta, dentro del <code>&#60;head&#62;</code>, que define el título del documento.</dd>
    <dt><code>&#60;style&#62;</code></dt>
    <dd>Etiqueta para añadir estilos CSS dentro de un documento HTML.</dd>
    <dt><code>&#60;link&#62;</code></dt>
    <dd>Sirve para añadir un recurso externo, normalmente una hoja de estilos: <code>&#60;link rel="stylesheet" href="styles.css" /&#62;</code></dd>
    <dt><code>&#60;body&#62;</code></dt>
    <dd>Etiqueta que engloba el cuerpo (contenido) del documento.</dd>
  </dl>
</div>