<div class="main__block" id="linea">
  <h2 id=linea>Elementos de línea</h2>
  <dl>
    <dt><code>&#60;span&#62;</code></dt>
    <dd>Engloba una sección, generalmente dentro de un bloque de texto. No tiene un sentido semántico y se suele añadir para poder dar estilos concretos a dicha sección.</dd>
    <dt><code>&#60;strong&#62;</code></dt>
    <dd>Señala una porción de texto más importante. Suele representarse con la tipografía en <b>negrita</b>.</dd>
    <dt><code>&#60;em&#62;</code></dt>
    <dd>Señala una porción de texto que se quiere enfatizar. Suele representarse con la tipografía en <i>cursiva</i>.</dd>
    <dt><code>&#60;a&#62;</code></dt>
    <dd>Marca un enlace hipertextual. El atributo <code>href</code> indica dónde lleva ese enlace: a una página externa, a una sección del documento, a un email...</dd>
    <dt><code>&#60;i&#62;</code></dt>
    <dd>Marca una porción de texto en <i>cursiva</i> que no tiene significado semántico ni ninguna importancia especial.</dd>
    <dt><code>&#60;b&#62;</code></dt>
    <dd>Marca una porción de texto en <b>negrita</b> que no tiene significado semántico ni ninguna importancia especial.</dd>
    <dt><code>&#60;br&#62;</code></dt>
    <dd>Crea un salto de línea en el texto. No se cierra, se puede escribir como <code>&#60;br&#62;</code> o <code>&#60;br&nbsp;/&#62;</code></dd>
    <dt><code>&#60;img&#62;</code></dt>
    <dd>Marca una imagen. No se cierra, se puede escribir como <code>&#60;img&#62;</code> o <code>&#60;img /&#62;</code>. El atributo <code>src</code> indica la ruta a la imagen en cuestión. El atributo <code>alt</code> debe contener una descripción breve de la imagen que servirá como texto alternativo en caso de que falle la carga de la imagen. Ejemplo: <code>&#60;img src="kitten.jpg" alt="Un gatito" /&#62;</code></dd>
  </dl>
</div>