<div class="main__block" id="bloque">
    <h2>Elementos de bloque</h2>
    <dl>
      <dt><code>&#60;div&#62;</code></dt>
      <dd>Marca un bloque de contenido en el documento. No tiene significado semántico.</dd>
      <dt><code>&#60;ul&#62;</code></dt>
      <dd>Marca una lista de elementos no ordenados.</dd>
      <dt><code>&#60;ol&#62;</code></dt>
      <dd>Marca una lista de elementos ordenados.</dd>
      <dt><code>&#60;li&#62;</code></dt>
      <dd>Marca un elemento de una lista, tanto de una <code>ul</code> como de una <code>ol</code>.</dd>
    </dl>
  </div>