---
title: Estilos tipográficos
layout: layout-slides
---

%section
  %h1 Estilos tipográficos

%section
  .codepen(data-height="300" data-theme-id="0" data-slug-hash="wYpjdr" data-default-tab="css,result" data-user="htmlboy")
  %p
    Controlamos el tamaño tipográfico con <code>font-size</code>.
  %p
    Controlamos el peso tipográfico con <code>font-weight</code>.
  %p
    Controlamos la familia tipográfica con <code>font-family</code>.

%section
  .codepen(data-height="350" data-theme-id="0" data-slug-hash="ZqvoPN" data-default-tab="css,result" data-user="htmlboy")
  %p
    Controlamos la variante tipográfica (normal o itálica) con <code>font-style</code>.
  %p
    Controlamos el rayado con <code>text-decoration</code>.
  %p
    Controlamos la altura de línea con <code>line-height</code>.

%section
  .codepen(data-height="350" data-theme-id="0" data-slug-hash="WadyeY" data-default-tab="css,result" data-user="htmlboy")
  %p
    Para aplicar color al texto, usamos la propiedad <code>color</code> (no confundir con <code>background-color</code>, para los fondos).
  %p
    Existen varias formas de declarar el color: palabra clave (inglés), hexadecimal (empezando con <code>#</code>), rgb()…