---
title: Etiquetas de texto
layout: layout-slides
---

%section
  %h1 Etiquetas de texto
%section
  %h2
    %code
      &lt;p&gt;

%section
  %h2
    %code
      &lt;br&gt;

%section
  %h2
    %code
      &lt;h1&gt;

%section
  %h3
    %pre
      %code
        :preserve
          &lt;h1&gt;
            Encabezado de primer nivel
          &lt;/h1&gt;

%section
  %h2
    %code
      &lt;h1&gt; <br>
      &lt;h2&gt; <br>
      &lt;h3&gt; <br>
      &lt;h4&gt; <br>
      &lt;h5&gt; <br>
      &lt;h6&gt;


%section
  %h2
    %code
      &lt;em&gt;

%section
  %pre
    %code
      :preserve
        &lt;p&gt;
          Podemos dar énfasis <em>a palabras en concreto</em>.
        &lt;/p&gt;
%section
  %h2
    %code
      &lt;strong&gt;

%section
  %pre
    %code
      :preserve
        &lt;p&gt;
          O bien pdemos dar <strong>importancia</strong>
          a palabras en concreto.
        &lt;/p&gt;

%section
  %h2
    %code
      &lt;span&gt;

%section
  %pre
    %code
      :preserve
        &lt;p&gt;
          El <span class="rojo">span</span>
          nos sirve para acotar palabras en concreto.
        &lt;/p&gt;
