---
title: Introducción a la web
layout: layout-slides
---

%section
  %h1 Introducción a la&nbsp;web
%section
  %h2 ¿Qué es internet?
%section
  %h2 ¿Hace cuánto que existe?
%section
  %h2 ¿Qué es la web?
%section
  %h2 ¿Hace cuánto que existe?
%section
  %h2 ¿De qué está compuesta una web?
%section
  %h3
    %code
      &lt;html&gt; Contenido &lt;/html&gt;
%section
  %h3
    %pre
      %code
        :preserve
          .css{
            color: pink;
          }
%section
  %h3
    %pre
      %code
        :preserve
          var numTotal = 4;
          if( numTotal > 3 ){
            alert("Javascript!");
          }