---
title: Introducción a JavaScript
layout: layout-slides
---

%section
  %h1 Introducción a JavaScript
%section
  %h2 JavaScript es un lenguaje de programación
  %p
    Programamos comportamientos: ˝cuando se hace click aquí, ocurre algo˝.
%section
  %h2 Funciones
  %ul
    %li acceder al contenido de una web
    %li modificar el contenido de una web
    %li programar reglas
    %li reaccionar a eventos
%section
  %h2 Ejemplo
  %p
    ˝Si yo hago click…˝
  %p
    ˝en un elemento que tenga la clase 'elemento'…˝
  %p
    ˝…quita o ponle la clase 'activo', en función de si la tiene o no˝
%section
  %p.codepen{"data-default-tab" => "js,result", "data-embed-version" => "2", "data-height" => "500", "data-pen-title" => "JS - Cambia clase ", "data-slug-hash" => "JLRqbJ", "data-theme-id" => "0", "data-user" => "htmlboy"}
    See the Pen
    %a{:href => "https://codepen.io/htmlboy/pen/JLRqbJ/"} JS - Cambia clase
    by Javier Usobiaga (
    = succeed ")" do
      %a{:href => "https://codepen.io/htmlboy"} @htmlboy
    = succeed "." do
      %a{:href => "https://codepen.io"} CodePen
