---
title: Sintaxis HTML
layout: layout-slides
---

%section
  %h1 Sintaxis HTML
%section
  %h2
    %code
      &lt;etiqueta&gt;

%section
  %h3
    %code
      &lt;etiqueta&gt; &lt;/etiqueta&gt;

%section
  %h3
    %pre
      %code
        :preserve
          &lt;etiqueta&gt;
            Ejemplo de contenido
          &lt;/etiqueta&gt;

%section
  %h3
    %code
      &lt;p&gt;

%section
  %h3
    %pre
      %code
        :preserve
          &lt;p&gt;
            Esto es un ejemplo.
          &lt;/p&gt;

%section
  %h3
    %code
      &lt;br&gt;

%section
  %h3
    %code
      &ltbr&gt; <del>&lt;/br&gt;</del>

%section
  %h3
    %code
      &ltbr /&gt;

%section
  %h3
    %pre
      %code
        :preserve
          &lt;p class="ejemplo"&gt;
            Esto es un ejemplo.
          &lt;/p&gt;

%section
  %h3
    %pre
      %code
        :preserve
          &lt;p class="ejemplo" id="principal"&gt;
            Esto es un ejemplo.
          &lt;/p&gt;