---
title: Transformaciones 3D
layout: layout-slides
---

%section
  %h1 Transformaciones 3D
%section
  %pre
    %code
      :preserve
        .elemento{
          transform: translate3d(x, y, z);
        }
%section
  %pre
    %code
      :preserve
        .elemento{
          transform: translateZ(z);
        }
%section
  %pre
    %code
      :preserve
        .elemento{
          transform: scale3d(x, y, z);
        }
%section
  %pre
    %code
      :preserve
        .elemento{
          transform: scaleZ(z);
        }
%section
  %pre
    %code
      :preserve
        .elemento{
          transform: rotate3d(x, y, z);
        }
%section
  %pre
    %code
      :preserve
        .elemento{
          transform: rotateZ(z);
        }
%section
  %pre
    %code
      :preserve
        .elemento{
          transform: perspective(200px);
        }
%section
  %pre
    %code
      :preserve
        .elemento{
          perspective: 200px;
        }
%section
  %pre
    %code
      :preserve
        .elemento{
          perspective-origin: 25% 75%;
        }
%section
  %pre
    %code
      :preserve
        .elemento{
          backface-visibility: hidden;
        }