---
title: Transformaciones
layout: layout-slides
---

%section
  %h1 Transformaciones
%section
  %pre
    %code
      :preserve
        .elemento{
          transform: scale(.5);
        }
%section
  %pre
    %code
      :preserve
        .elemento{
          transform: scaleX(1.5);
        }
%section
  %pre
    %code
      :preserve
        .elemento{
          transform: scaleY(1.1);
        }
%section
  %pre
    %code
      :preserve
        .elemento{
          transform: rotate(45deg);
        }
%section
  %pre
    %code
      :preserve
        .elemento{
          transform: translate(20px, 40px);
        }
%section
  %pre
    %code
      :preserve
        .elemento{
          transform: translateX(20px);
        }
%section
  %pre
    %code
      :preserve
        .elemento{
          transform: translateY(50px);
        }
%section
  %pre
    %code
      :preserve
        .elemento{
          transform: skewX(5deg);
        }
%section
  %pre
    %code
      :preserve
        .elemento{
          transform: skewY(-20deg);
        }
%section
  %pre
    %code
      :preserve
        .elemento{
          transform-origin: bottom right;
        }