---
title: Apuntes de desarrollo web - HTML, CSS y JS
description:
---

<div class="topbar">
  <a href="index.html" class="back">Atrás</a>
  <h1>Editores de código instalables</h1>
</div>

<div class="content-wrapper">
  <p>
    Editores de código instalables y gratuitos.
  </p>
  <ul>
    <li>
      <a href="http://brackets.io">Brackets</a> (recomendado)
    </li>
    <li>
      <a href="http://atom.io">Atom</a>
    </li>
  </ul>
</div>
