---
title: Apuntes de desarrollo web - HTML, CSS y JS
description:
---

<div class="topbar">
  <a href="index.html" class="back">Atr치s</a>
  <h1>Editores de c칩digo online</h1>
</div>

<div class="content-wrapper">
  <p>
    Editores de c칩digo online. Permiten hacer pruebas r치pidas y compartirlas, pero no vincular a archivos que tengamos en nuestro ordenador.
  </p>
  <ul>
    <li>
      <a href="http://jsbin.com">JSbin</a>
    </li>
    <li>
      <a href="http://codepen.com">Codepen</a>
    </li>
  </ul>
</div>
