---
title: Apuntes de desarrollo web - HTML, CSS y JS
description:
---

%h1.intro Apuntes de desarrollo web
%p
  Estos son apuntes de desarrollo web para las clases de <a href="http://swwweet.com" target="_blank">Swwweet</a>.
  %br
  Aquí encontrarás referencias de código y explicaciones sobre tecnologías web como HTML, CSS y JS.

%section.section-intro
  %h2 Herramientas
  %ul.demo-links
    %li
      %a(href="base-codigo.html")Base de código
    %li
      %a(href="editores-online.html")Editores online
    %li
      %a(href="editores-codigo.html")Editores instalables
  %h2 HTML
  %ul.demo-links
    %li
      %a(href="elementos-html.html#basicos")Elementos HTML
    %li
      %a(href="formularios.html#formularios")Formularios
    %li
      %a(href="formularios.html#formularios")Multimedia
%section.section-intro
  %h2 CSS
  %ul.demo-links
    %li
      %a(href="css-basico.html#selectores")CSS básico
    %li
      %a(href="decoracion.html#degradados")Decoración y animación
    %li
      %a(href="layout-css.html#caja")Layout
    %li
      %a(href="reticula.html#reticula-floats")Ejemplos de retícula
%section.section-intro
  %h2 JavaScript
  %ul.demo-links
    %li
      %a(href="javascript.html#principios")JavaScript
    %li
      %a(href="jquery.html#principios")jQuery
%section.section-intro
  %h2 Recursos
  %ul.demo-links
    %li
      %a(href="webs.html")Webs de referencia
    %li
      %a(href="libros.html")Libros de referencia
