---
title: Apuntes de desarrollo web - HTML, CSS y JS
description:
---

%h1.intro Apuntes de desarrollo web
%p
  Estos son apuntes de desarrollo web para las clases de <a href="http://swwweet.com" target="_blank">Swwweet</a>.
  %br
  Aquí encontrarás referencias de código y explicaciones sobre tecnologías web como HTML, CSS y JS.

%ul.demo-links
  %li
    %a(href="elementos-html.html#basicos")Elementos HTML
  %li
    %a(href="propiedades-css.html#selectores")Propiedades CSS
  %li
    %a(href="reticula.html#reticula-floats")Ejemplos de retícula
  %li
    %a(href="javascript.html#principios")JavaScript
  %li
    %a(href="jquery.html#principios")jQuery
  %li
    %a(href="recursos-codigo.html")Recursos de código
  %li
    %a(href="webs.html")Webs de referencia
  %li
    %a(href="libros.html")Libros de referencia
