---
title: Apuntes de desarrollo web - HTML, CSS y JS
description:
---

<div class="topbar">
  <a href="index.html" class="back">Atrás</a>
  <h1>Libros de referencia</h1>
</div>
<div class="content-wrapper">
  <ul>
    <li><a href="http://www.htmlandcssbook.com/">HTML &amp; CSS, design and build websites</a>.</li>
    <li><a href="http://javascriptbook.com/">Javascript &amp; jQuery, interactive front-end web development</a>.</li>
  </ul>
</div>
