---
title: Apuntes de desarrollo web - HTML, CSS y JS
description:
---
<div class="topbar">
  <a href="index.html" class="back">Atrás</a>
  <h1>Multimedia</h1>
</div>
<ul class="index">
  <li><a href="#multimedia">Elementos multimedia</a></li>
</ul>

<div class="main">
  <%= partial "partials-html/multimedia" %>
</div>
