---
title: Apuntes de desarrollo web - HTML, CSS y JS
description:
---
.switcher
  %a(href="/index.html") Apuntes
  %span.is-active Slides
%h1.intro Presentaciones de desarrollo web
%p
  Estos son las presentaciones de desarrollo web para las clases de <a href="http://swwweet.com" target="_blank">Swwweet</a>.

%section.section-intro
  %h2 JavaScript
  %ul
    %li
      %a(href="slides/js-intro.html" target="_blank")
        Introducción a JavaScript
        = partial "partials/icon-play"
