---
title: Apuntes de desarrollo web - HTML, CSS y JS
description:
---

.topbar
  %a.back(href="index.html") Atr치s
  %h1 Presentaciones
.content-wrapper
  %p
    Estas son las presentaciones que hemos visto en clase.
  %h2 Introducci칩n
  %ul
    %li
      %a(href="slides/introduccion-web.html" target="_blank")
        Introducci칩n a la web
        = partial "partials/icon-play"
  %h2 Estructura HTML
  %ul
    %li
      %a(href="slides/sintaxis-html.html" target="_blank")
        Sintaxis
        = partial "partials/icon-play"
  -# %h2 JavaScript
  -# %ul
  -#   %li
  -#     %a(href="slides/js-intro.html" target="_blank")
  -#       Introducci칩n a JavaScript
  -#       = partial "partials/icon-play"
