---
title: Apuntes de desarrollo web - HTML, CSS y JS
description:
---

.topbar
  %a.back(href="index.html") Atrás
  %h1 Ejemplos de retícula
%ul.index
  %li
    %a(href="#reticula-floats") Retícula con floats
  %li
    %a(href="#reticula-mq") Retícula con media queries
.main
  .main__block#reticula-floats
    %h2 Ejemplos de retícula con floats
    %dl
      %dt Dos columnas con floats
      %dd.embed
        %p.codepen(data-height="265" data-theme-id="0" data-slug-hash="dddyzd" data-default-tab="css,result" data-user="htmlboy" data-embed-version="2" data-pen-title="Dos columnas con float")

      %dt Tres columnas con floats
      %dd.embed
        %p.codepen(data-height="273" data-theme-id="0" data-slug-hash="zRRYEN" data-default-tab="css,result" data-user="htmlboy" data-embed-version="2" data-pen-title="Tres columnas con float")

      %dt Cuatro columnas con floats
      %dd.embed
        %p.codepen(data-height="265" data-theme-id="0" data-slug-hash="dddyqK" data-default-tab="css,result" data-user="htmlboy" data-embed-version="2" data-pen-title="Cuatro columnas con float")

  .main__block#reticula-mq
    %h2 Ejemplos de retícula con media queries
    %dl
      %dt Dos columnas con floats y media queries
      %dd.embed
        %p.codepen(data-height="265" data-theme-id="0" data-slug-hash="rJJNXz" data-default-tab="css,result" data-user="htmlboy" data-embed-version="2" data-pen-title="Dos columnas con float y media queries")
