---
title: Apuntes de desarrollo web - HTML, CSS y JS
description:
---

<div class="topbar">
  <a href="index.html" class="back">Atrás</a>
  <h1>Webs de referencia</h1>
</div>

<div class="content-wrapper">
  <ul>
    <li><a href="https://developer.mozilla.org/es">Mozilla Developer Network</a>, un montón de explicaciones sobre características de HTML, CSS y JavaScript.</li>
    <li><a href="http://css-tricks.com/">CSS Tricks</a>, un blog muy activo con muchos recursos de CSS y HTML.</li>
    <li><a href="http://html5doctor.com/">HTML5 Doctor</a>, un blog dedicado a explicar el uso de tags y APIs de HTML5.</li>
    <li><a href="http://caniuse.com/">Can I Use</a>, compara el soporte de diferentes tecnologías (HTML, CSS, JS) en los navegadores en sus versiones actuales, pasadas y futuras.</li>
    <li><a href="http://jquery.com/">jQuery.com</a>, la web oficial de jQuery.</li>
    <li><a href="http://jqapi.com/">jQAPI</a>, una web con documentación alternativa sobre jQuery.</li>
  </ul>
</div>
