<div class="main__block" id="anim">
<h2>Animaciones</h2>
<dl>
  <dt>Animaciones CSS</dt>
  <dd>
    <p>
      Las animaciones permiten hacer movimientos y transiciones sencillas en elementos web, sin necesidad de interacción por parte del usuario.
    </p>
    <p>
      Las animaciones se definen con <code>@keyframes</code> y se asignan posteriormente a los elementos que nos interese animar.
    </p>
    <p>
      Algunos navegadores pueden necesitar todavía que declares las animaciones con su prefijo (<code>-webkit</code>, <code>-moz</code>, etc). Compruébalo en <a href="http://caniuse.com">Can I Use</a>.
    </p>
  </dd>
  <dt><code>@keyframes</code></dt>
  <dd>
    <p>
      Define los pasos que seguirá una animación, y le da un nombre para poderse referir a ella más adelante.
    </p>
    <p>
      Los estilos de cada paso de la animación se engloban entre <code>{}</code>. Los pasos pueden indicarse con <code>from</code> y <code>to</code>, si son solo dos, o con <code>%</code>.
    </p>
    <p>Ejemplo:
<pre><code>  @keyframes ejemplo{
0%{
  width: 20px;
}
20%{
  width: 50px;
}
80%{
  width: 90px;
}
100%{
  width: 240px;
}
}</code></pre>
    </p>
  </dd>
  <dt><code>animation</code></dt>
  <dd>
    <p>
      Esta propiedad permite asignar una animación a un elemento, indicando en este orden: nombre de la animación, duración en segundos (s) o milisegundos (ms), velocidad (linear, ease-in, ease-out, ease-in-out), retraso en empezar, repeticiones, dirección en la que se produce (<code>normal</code>, <code>reverse</code>, o <code>alternate</code> si queremos que cambie con cada repetición).	Tienes algunas opciones más en la <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/animation">Mozilla Developer Network</a>.
    </p>
    <p>
      Un ejemplo de asignación de animación:
<pre><code>  .elemento{
animation: ejemplo 3s ease-out 3s 3 alternate;
}</code></pre>
    </p>
  </dd>
</dl>
</div>