<div class="main__block" id="background">
<h2>Background</h2>
<dl>
  <dt><code>background-color</code></dt>
  <dd>Sirve para poner un color de fondo a un elemento. Por ejemplo, <code>background-color: #CCCCCC;</code></dd>
  <dt><code>background-image</code></dt>
  <dd>Sirve para poner una imagen de fondo a un elemento. Por ejemplo, <code>background-image: url(images/bg.jpg);</code></dd>
  <dt><code>background-position</code></dt>
  <dd>
    <p>
      Sirve para posicionar una imagen de fondo en un elemento. Los fondos se deben posicionar horizontalmente (<code>left</code>/<code>center</code>/<code>right</code>) y verticalmente (<code>top</code>/<code>center</code>/<code>bottom</code>). También se pueden posicionar una cantidad fija de píxeles, o un porcentaje. Por defecto, las imágenes de fondo se posicionan en <code>left top</code>. Por ejemplo, <code>background-position: right center;</code>.
    </p>
    <p>
      También podemos especificar una cantidad fija de píxeles o un porcentaje desde una esquina diferente a la por defecto, combinando palabras y unidades: <code>background-position: right 10px bottom 20px;</code>
    </p>
</dd>
  <dt><code>background-repeat</code></dt>
  <dd>Sirve para indicar la repetición de una imagen de fondo. <code>repeat</code> repite la imagen tantas veces como sea posible. <code>repeat-x</code> repite la imagen verticalmente tantas veces como sea posible. <code>repeat-y</code> repite la imagen horizontalmente tantas veces como sea posible. <code>no-repeat</code> impide que la imagen se repita. El estado por defecto de las imágenes de fondo es <code>repeat.</code> Por ejemplo, <code>background-repeat: no-repeat;</code>.</dd>
  <dt><code>background</code></dt>
  <dd>Los estilos de fondo se pueden aplicar bajo una única declaración "shorthand": primero la imagen, después la posición, después la repetición y por último el color. Ejemplo: <code>background: url(images/bg.jpg) right center no-repeat #CCCCCC;</code>.</dd>
</dl>
</div>