<div class="main__block" id="bordes">
<h2>Bordes</h2>
<dl>
  <dt><code>border-width</code></dt>
  <dd>Determina la anchura de un borde: <code>border-width: 3px;</code>.</dd>
  <dt><code>border-color</code></dt>
  <dd>Determina el color de un borde: <code>border-color: yellow;</code>.</dd>
  <dt><code>border-style</code></dt>
  <dd>Determina el estilo de un borde: <code>border-style: solid;</code>. <code>solid</code> es una línea sólida, <code>dotted</code> es una línea de puntos, <code>dashed</code> es una línea discontínua y <code>double</code> es una línea doble.</dd>
  <dt><code>border</code></dt>
  <dd>Los estilos de borde se pueden aplicar bajo una única declaración "shorthand": primero la anchura, después el estilo y por último el color. Ejemplo: <code>boder: 3px solid yellow;</code>.</dd>
  <dt><code>border-radius</code></dt>
  <dd>Determina el radio de redondeado de las esquinas de un elemento. Se puede dar el mismo radio a todas las esquinas: <code>boder-radius: 5px;</code> o uno diferente a cada una: <code>border-radius: 5px 10px 5px 0;</code>. En este último caso, el orden en que se aplica es esquina superior izquierda, superior derecha, inferior derecha, inferior izquierda.</dd>
</dl>
</div>