.main__block#caja
  %h2 Modelo de caja
  %dl
    %dt
      %code width
    %dd
      Determina la anchura de un elemento. Ejemplo: <code>width: 100px;</code>.
    %dt
      <code>height</code>
    %dd
      Determina la altura de un elemento. Ejemplo: <code>height: 100px;</code>.
    %dt
      <code>min-width</code> / <code>max-width</code>
    %dd
      Determinan la anchura mínima o máxima de un elemento.
    %dt
      <code>min-height</code> / <code>max-height</code>
    %dd
      Determinan la altura mínima o máxima de un elemento.
    %dt
      <code>margin</code>
    %dd
      Determina los márgenes de un elemento. Se puede declarar un margen concreto (<code>margin-top</code> / <code>margin-right</code> / <code>margin-bottom</code> / <code>margin-left</code>), o añadir los cuatro márgenes a la vez, en el orden arriba-derecha-abajo-izquerda: <code>margin: 5px 10px 5px 20px</code>.
    %dt
      <code>padding</code>
    %dd
      Determina el espacio entre el límite de un elemento y su contenido. Se puede declarar un padding concreto (<code>padding-top</code> / <code>padding-right</code> / <code>padding-bottom</code> / <code>padding-left</code>), o añadir los cuatro a la vez, en el orden arriba-derecha-abajo-izquerda: <code>padding: 5px 10px 5px 20px</code>.
    %dt
      <code>box-sizing</code>
    %dd
      Determina el modelo de caja que se aplica al elemento. El modelo de caja por defecto es <code>content-box</code>, en el cual la anchura de un elemento es igual al <code>width</code> + <code>padding</code> + <code>border</code> (con la altura ocurre lo mismo). Si declaramos el modelo de caja <code>border-box</code>, la anchura total será la que marquemos en el <code>width</code>. Para resetear el modelo de caja en todo el documento, usa este código al principio de tu CSS: <br><code>* {box-sizing: border-box;}</code>
