.main__block#calc
  %h2 Calc()
  %dl
    %dt <code>calc()</code>
    %dd
      <p>La función <code>calc()</code> nos permite hacer cálculos sencillos (sumas, restas, multiplicaciones, divisiones) de valores. Aunque está bastante limitado, nos permite hacer cosas como asignar una anchura a un elemento de un 100% (u otro porcentaje) menos una cantidad en píxeles. Ejemplo: <code>width: calc(100% - 20px);</code></p>
      <p>Para que <code>calc()</code> funcione correctamente, separa los signos aritméticos con espacios.</p>
