<div class="main__block" id="color">
<h2>Color</h2>
<dl>
  <dt>Nombre</dt>
  <dd>Algunos colores, como <code>black</code>, <code>white</code>, <code>red</code> o <code>blue</code> se pueden utilizar simplemente con su nombre. Aquí encontrarás los nombres de los 147 colores que existen en CSS: <a href="http://www.colors.commutercreative.com/grid/">http://www.colors.commutercreative.com/grid/</a></dd>
  <dt>Hexadecimal</dt>
  <dd>Los colores se pueden utilizar mediante su código hexadecimal, como por ejemplo <code>#000000</code>, <code>#ff0000</code> o <code>#dadada</code>.</dd>
  <dt><code>rgba</code></dt>
  <dd>Los colores se pueden utilizar indicando sus valores en el canal rojo, verde, azul y alfa. Este último canal indica la cantidad de transparencia que tendrá el color, y se expresa en base 1. Ejemplo: <code>background-color: rgba(255, 0, 0, .5);</code>.</dd>
  <dt><code>hsla</code></dt>
  <dd>Los colores se pueden utilizar indicando sus valores de tono, saturación, luminosidad y alfa. El tono indica el punto en el que se encuentra el color en la rueda de color, y se expresa con un valor (grado) comprendido entre 0 y 360. La saturación se expresa con un porcentaje, donde 0% es gris y 100% es el color en su máxima saturación. La luminosidad se exprea con un porcentaje, donde 0% es negro, 50% es el color puro y 100% es blanco. El canal alfa indica la cantidad de transparencia que tendrá el color, y se expresa en base 1. Ejemplo: <code>background-color: hsla(310, 100%, 50%, .8);</code>. Esta herramienta te puede ayudar con este tipo de colores: <a href="http://hslpicker.com/">http://hslpicker.com</a>.</dd>
</dl>
</div>