<div class="main__block" id="columnas">
<h2>Columnas de texto</h2>
<dl>
  <dt><code>column-count</code></dt>
  <dd><p>Determina el número de columnas que tiene un bloque de texto (por defecto es 1). Ejemplo: <code>column-count: 3;</code></p></dd>
  <dt><code>column-gap</code></dt>
  <dd><p>Determina el espacio entre las distintas columnas. Se puede indicar en píxeles, ems... Ejemplo: <code>column-gap: 50px;</code></p></dd>
  <dt><code>column-rule</code></dt>
  <dd><p>Determina los estilos para una línea de separación entre las columnas. Se declara de manera similar a los bordes: primero el ancho (que puede ser <code>thin</code>, <code>medium</code>, <code>thick</code>, o de un grosor específico), después el estilo (como en los bordes: <code>solid</code>, <code>dashed</code>, <code>dotted</code> o <code>double</code>) y, por último, el color. Ejemplo: <code>column-rule: 1px solid black;</code></p></dd>
</dl>
</div>