.main__block#display
  %h2 display
  %dl
    %dt
      <code>display</code>
    %dd
      <p>Esta propiedad cambia la forma en la que un elemento se renderiza en la página: como un bloque (<code>display:block;</code>), como una línea (<code>display: inline;</code>), o como una mezcla (<code>display: inline-block</code>). Los elementos con <code>display: inline-block;</code> no provocan un salto de línea, pero a diferencia de los <code>display: inline;</code> aceptan propiedades como <code>margin-top</code>, <code>margin-bottom</code> o <code>height</code>.</p> <p>Si queremos ocultar un elemento, podemos usar <code>display: none;</code></p>
