.main__block#floats
  %h2 Floats y overflow
  %dl
    %dt <code>float</code>
    %dd Hace que un elemento de bloque se coloque (flote) junto a otro. Se puede usar tanto <code>float: left;</code> para flotar a la izquierda, como <code>float: right;</code> para flotar a la derecha.
    %dt <code>overflow</code>
    %dd Con la propiedad overflow indicamos qué tiene que hacer un contenedor si su contenido se sale de su caja. Usando <code>overflow: hidden;</code> le diremos que oculte lo que se salga fuera; también es una buena forma de forzar a un contenedor a cubrir completamente a su contenido, cuando este contenido está flotando.
    %dt <code>clear</code>
    %dd Sirve para despejar un elemento que tiene otros elementos flotando a su lado. Se puede usar <code>clear: left;</code> para despejar el lado izquierdo, <code>clear: right;</code> para el derecho, o <code>clear: both;</code> para ambos a la vez.
    %dt <code>clearfix</code>
    %dd
      Es la técnica más popular para limpiar los floats. Para usarla, tenemos que añadir al bloque que contenga elementos que flotan esta CSS:
      %pre
        %code
          \.contenedor:before,
          \.contenedor:after {
          \  content: " ";
          \  display: table;
          \}

          \.contenedor:after {
          \  clear: both;
          \}
