<div class="main__block" id="listas">
<h2>Listas</h2>
<dl>
  <dt><code>list-style</code></dt>
  <dd><p><code>list-style</code> es el método abreviado para los estilos de lista: indicamos el tipo de lista, si tiene una imagen como bullet y la posición de los bullets o números respecto a la lista. Ejemplo: <code>list-style: square inside;</code></p>
    <p>Si queremos que una lista no tenga bullets o numeración, usaremos <code>list-style: none;</code>.</dd>
  <dt><code>list-style-type</code></dt>
  <dd>Indica el tipo de bullet o numeración en una lista. Por defecto, en un ul es <code>list-style-type: disc;</code>. Otros valores son <code>circle</code>, <code>square</code>, <code>lower-latin</code>, etc…</dd>
  <dt><code>list-style-position</code></dt>
  <dd>Indica la posición de los bullets o números respecto a su contenedor (la lista). Puede ser <code>inside</code> (dentro de la lista) u <code>outside</code> (fuera de la lista).</dd>
  <dt><code>list-style-image</code></dt>
  <dd>
    Permite asignar una imagen como bullet personalizado en una lista. Ejemplo: <code>list-style-image: url(image.gif);</code>
  </dd>
</dl>
</div>