<div class="main__block" id="mq">
<h2>Media queries</h2>
<dl>
  <dt><code>@media</code></dt>
  <dd>
    <p>Las reglas <code>@media</code> sirven para englobar entre llaves una serie de estilos que solo se emplearán si la web se reproduce en un medio concreto, como en pantalla (<code>@media screen{/*CSS para pantalla*/}</code>) o impresión (<code>@media print{/*CSS para impresión*/}</code>).</p>
  </dd>
  <dt><code>@media</code> queries</dt>
  <dd>
    <p>Las queries (condiciones) son una extensión de las <code>@media</code>, que típicamente nos permitirán añadir condiciones de estilo en función de la anchura y altura del navegador. La forma normal de escribirlas es: <br> <code><pre>
@media screen and (/* condición de altura o anchura*/){
/* estilos para esa condición */
}</pre></code></p>
    <p>
      Las condiciones más normales serán anchura mínima (<code>min-width</code>) y anchura máxima (<code>max-width</code>).
    </p>
    <p>
      La forma lógica de escribir las media queries es debajo de la CSS que quieren sobreescribir, y en un orden creciente o decreciente en función de nuestra estrategia. Si hemos empezado nuestra web por el layout de escritorio, normalmente escribiremos nuestras media queries así:
<code><pre>  .container{
/*CSS inicial: tres columnas de contenido*/
}

@media screen and (max-width: 900px){
.container{
  /*CSS para dos columnas de contenido*/
}
}

@media screen and (max-width: 650px){
.container{
  /*CSS para una columna de contenido*/
}
}
</pre></code>
    </p>
    <p>
      Si hemos empezado por el layout de móvil, el orden normal de nuestras media quieres será de menor a mayor, y usando <code>min-width</code>:
<code><pre>  .container{
/*CSS inicial: una columna de contenido*/
}

@media screen and (min-width: 650px){
.container{
  /*CSS para dos columnas de contenido*/
}
}

@media screen and (min-width: 900px){
.container{
  /*CSS para tres columnas de contenido*/
}
}
</pre></code>

    </p>
  </dd>
  <dt>combinar condiciones</dt>
  <dd>
    <p>Las condiciones de una media query se pueden combinar, especialmente cuando nos interesa que unos estilos se apliquen solo entre un tamaño y otro, y no tener que sobreescribirlos en otra media query. Para hacer esto, sencillamente añadimos la palabra <code>and</code> y otra condición entre paréntesis, por ejemplo: <code>@media screen and (min-width: 400px) and (max-width: 800px){/*estilos que solo se aplicarán entre 400px y 800px de ancho*/}</code>.</p>
  </dd>

</dl>
</div>
