<div class="main__block" id="pseudoelementos">
<h2>Pseudo-elementos</h2>

<dl>
  <dt><code>::before</code> y <code>::after</code></dt>
  <dd><p>Permiten añadir contenido normalmente decorativo desde CSS, sean imágenes, texto o un espacio vacío, delante (si usamos <code>before</code>) o detrás (si usamos <code>after</code>) del elemento que queramos. Para declarar el contenido en <code>before</code> o <code>after</code> usaremos la propiedad <code>content</code>. Ejemplo: <code>p::before{content: "·"}</code>.</p>
    <p>
      Es habitual ver escrito <code>:before</code> y <code>:after</code>, con solo ":" en lugar de "::". Escrito de esta manera, aunque no es la correcta, se soporta también en Internet Explorer 8.
    </p>
    <p>
      Si queremos sencillamente generar un "espacio fantasma" al que daremos estilos, podemos crearlo declarando el <code>content</code> vacío, por ejemplo:
    </p>
<pre><code>  p::before{
content: "";
display: inline-block;
background: hotpink;
width: 20px;
height: 20px;
}</code></pre>

  </dd>
</dl>
</div>