<div class="main__block" id="sombras">
<h2>Sombras</h2>
<dl>
  <dt><code>box-shadow</code></dt>
  <dd>
    <p>La forma de declarar sombras en un elemento es con la propiedad <code>box-shadow</code>. Los valores que se introducen son el desplazamiento de la sombra en el eje x, el desplazamiento en el eje y, la difuminación de la sombra, el spread (un espacio de color sólido antes de que empiece el difuminado; es opcional) y el color de la sombra. Además, si usamos la propiedad <code>inset</code>, la sombra se renderizará por dentro del elemento en vez de por fuera.</p>
    <p>Ejemplo de sombra normal:<br>
      <code>box-shadow: 5px 5px 3px rgba(0, 0, 0, .4);</code>
    </p>
    <p>Ejemplo de sombra con spread:<br>
      <code>box-shadow: 5px 5px 3px 2px rgba(0, 0, 0, .4);</code>
    </p>
    <p>Ejemplo de sombra con <code>inset</code>:<br>
      <code>box-shadow: inset 5px 5px 3px rgba(0, 0, 0, .4);</code>
    </p>
    <p>Un elemento puede tener más de una sombra, que se posicionan una debajo de la otra. Ejemplo: <br>
      <code>box-shadow: 0 5px 0 lightblue, 0 10px 0 hotpink;</code>
    </p>
  </dd>
  <dt><code>text-shadow</code></dt>
  <dd>
    <p>La forma de declarar una sombra de texto es igual que la de <code>box-shadow</code>, con la única diferencia de que en <code>text-shadow</code> no existe el inset (no se puede renderizar la sombra por dentro del texto).</p>
    <p>Ejemplo: <code>text-shadow: 2px 2px 3px rgba(0, 0, 0, .4);</code></p>
  </dd>
</dl>
</div>