<div class="main__block" id="texto">
<h2>Texto</h2>
<dl>
  <dt><code>font-family</code></dt>
  <dd>Sirve para indicar la familia tipográfica de un elemento de texto. Se puede indicar más de una familia, y el navegador escogerá la primera que encuentre disponible. Si el nombre de la familia tipográfica tiene más de una palabra, deberá ir entre comillas. Ejemplo: <code>font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; </code></dd>
  <dt><code>color</code></dt>
  <dd>Sirve para indicar el color de un elemento de texto (párrafo, enlace, etc.). Ejemplo: <code>color: red;</code>.</dd>
  <dt><code>font-weight</code></dt>
  <dd>Permite cargar un peso distinto de la tipografía (bold, normal, 300, 600, etc). <br>Ejemplo: <code>font-weight: bold;</code></dd>
  <dt><code>font-style</code></dt>
  <dd>Indica si el texto se renderizará con la tipografía normal (<code>font-style: normal;</code>), cursiva (<code>font-style: italic;</code>) u oblícua (<code>font-style: oblique;</code>).</dd>
  <dt><code>text-align</code></dt>
  <dd>Sirve para indicar la alineación del texto, que puede ser <code>left</code> (alineado a la izquierda, opción por defecto), <code>right</code> (alineado a la derecha), <code>center</code> (centrado) o <code>justify</code> (justificado). Ejemplo: <code>text-align: center;</code>.</dd>
  <dt><code>text-decoration</code></dt>
  <dd>Indica si un elemento va subrayado (<code>text-decoration: underline;</code>), tachado (<code>text-decoration: line-through;</code>) o sobrerayado (<code>text-decoration: overline;</code>). Si queremos quitarle cualquiera de estos efectos, usaremos <code>text-decoration: none;</code></dd>
  <dt><code>vertical-align</code></dt>
  <dd>Indica la posición vertical de un elemento de línea (un texto o una imagen) respecto a otro. Podemos indicar que los elementos se alineen por la línea base (<code>vertical-align: baseline;</code>), centrado (<code>vertical-align: middle;</code>), u otros valores respecto a la posición y altura del texto: <code>super</code>, <code>sub</code>, <code>text-top</code>, <code>text-bottom</code>, <code>top</code>, <code>bottom</code>. También con unidades, por ejemplo <code>vertical-align: 4px;</code></code></dd>
  <dt><code>line-height</code></dt>
  <dd>
    Señala la altura de la línea (de ello depende en parte el espacio que deja una línea por arriba y por abajo). Esta altura de línea se puede especificar en una unidad (ejemplo: <code>line-height: 24px;</code>) o dejar que sea proporcional al tamaño del texto (ejemplo: <code>line-height: 1.5;</code>).
  </dd>
  <dt><code>text-indent</code></dt>
  <dd>
    Permite que el texto que nos interese tenga un margen inicial en la línea. Se puede usar para que la primera línea de los párrafos de un texto esté indentada (tenga un pequeño margen), por ejemplo: <code>p{text-indent: 20px;}</code>.
  </dd>
</dl>
</div>