<div class="main__block" id="trans">
<h2>Transiciones</h2>
<dl>
  <dt><code>transition</code></dt>
  <dd>
    Para añadir una transición a un elemento en un cambio de estado (por ejemplo, <code>:hover</code> o cuando se le añade o quita una clase), usaremos <code>transition</code>, declarando el tiempo que durará la transición en segundos o milisegundos y la propiedad a transicionar (por defecto, <code>all</code>).<br>Ejemplo: <code>a{transition: .4s background-color;}</code>
  </dd>
</dl>
</div>