<div class="main__block" id="transfo">
<h2>Transformaciones</h2>
<dl>
  <dt><code>transform</code></dt>
  <dd>
    Permite modificar el aspecto o posici칩n de un elemento sin alterar su entorno (por ejemplo, hacer algo m치s grande sin mover los elementos de alrededor). Los tipos de transformaci칩n habituales son <code>translate()</code>, <code>scale()</code>, <code>rotate()</code>, <code>skewX()</code> y <code>skewY()</code>.
  </dd>
  <dt><code>transform: translate()</code></dt>
  <dd>
    Desplaza a un elemento en el eje X y el eje Y. Ejemplo:
<pre><code>  .ejemplo{
transform: translate(10px, 20px);
}</code></pre>
  </dd>
  <dt><code>transform: scale()</code></dt>
  <dd>
    Altera el tama침o de un elemento en base a 1. Ejemplo:
<pre><code>  .ejemplo{
transform: scale(1.5);
}</code></pre>
  </dd>
  <dt><code>transform: rotate()</code></dt>
  <dd>
    Gira un elemento a partir de su centro, expresado en grados (<code>deg</code>). Ejemplo:
<pre><code>  .ejemplo{
transform: rotate(15deg);
}</code></pre>
  </dd>
  <dt><code>transform: skewX()</code></dt>
  <dd>
    Deforma un elemento sobre el eje X, expresado en grados (<code>deg</code>). Ejemplo:
<pre><code>  .ejemplo{
transform: skewX(15deg);
}</code></pre>
  </dd>
  <dt><code>transform: skewY()</code></dt>
  <dd>
    Deforma un elemento sobre el eje Y, expresado en grados (<code>deg</code>). Ejemplo:
<pre><code>  .ejemplo{
transform: SkewY(15deg);
}</code></pre>
  </dd>
</dl>
</div>