<div class="main__block" id="webfonts">
<h2>Webfonts</h2>
<dl>
  <dt><code>@font-face</code></dt>
  <dd><p>Esta declaración sirve para poder utilizar tipografías distintas a las instaladas en el sistema del usuario. Las tipografías deben estar alojadas en el servidor (por ejemplo, en una carpeta "fonts"). Para poderlas usar, debemos darle un nombre a la familia tipográfica, especificar la ruta donde están los archivos de las fuentes (en sus distintos formatos, si fuera necesario) y, si queremos, indicar el estilo de la fuente (bold, italic, etc). Un ejemplo de uso sería:</p>
  <code><pre>  @font-face {
font-family: "Museo";
src: url('/fonts/museo.woff') format('woff');
font-weight: normal;
}</pre></code>
  <p>Para poder usar esta tipografía en nuestra página, simplemente tendríamos que llamarla con el nombre que le hayamos dado, como por ejemplo:</p>
  <code><pre>  body {
font-family: "Museo", Verdana, sans-serif;
}</pre></code>
  </dd>
  <dt>Formatos de fuentes</dt>
  <dd><p>Existen múltiples formatos de fuentes. Los estándar y mejor optimizados son los formatos Woff y Woff2, soportados en los navegadores modernos. Si queremos, podemos cargar también el formato truetype (ttf), soportado en la mayoría de navegadores más antiguos. Si queremos utilizar más de un formato para garantizar un mayor soporte, se hace de la siguiente forma: </p>
  <code><pre>  @font-face {
font-family: "Museo";
src:
  url('/fonts/museo.woff2') format('woff2'),
  url('/fonts/museo.woff') format('woff'),
  url('/fonts/museo.ttf') format('truetype');
}</pre></code>
    <p>Para convertir un archivo tipográfico a múltiples formatos, podemos utilizar el <a href="http://www.fontsquirrel.com/tools/webfont-generator">generador de webfonts de FontSquirrel</a>.</p>
  </dd>
  <dt>Servicios de webfonts</dt>
  <dd>
    <p>Existen múltiples servicios, tanto gratuitos como de pago, desde los que podemos utilizar webfonts. Algunos de los más destacados son:</p>
    <ul>
      <li><a href="http://www.google.com/fonts">Google Fonts</a>: servicio gratuito de Google. Para poder usar sus tipografías, solo hay que seleccionaras, añadirlas a una colección, seleccionar los pesos que queremos y añadir el código que nos muestra al <code>&#60;head&#62;</code> de nuestro documento HTML. En <a href="http://www.awwwards.com/20-best-web-fonts-from-google-web-fonts-and-font-face.html">este artículo</a> podemos encontrar una lista de algunas de las mejores tipografías disponibles en Google Fonts, entre otros.</li>
      <li><a href="https://typekit.com/">Typekit</a>: servicio de pago de Adobe en el que, mediante una subscripción anual, tenemos acceso a una enorme librería de tipografías comerciales.</li>
      <li><a href="http://www.myfonts.com/">Myfonts</a>: página donde podemos comprar licencias de una enorme variedad de fuentes. Una vez compradas, se pueden descargar y utilizar en nuestras páginas mediante <code>@font-face</code>.</li>
    </ul>
  </dd>
</dl>
</div>