.back,
.forward{
	text-decoration: none;
	color: $bodycolor;
	vertical-align: middle;
}

.back:before,
.forward:after{
	content: "\25B6\FE0E";
	speak: none;
	vertical-align: .2em;
	display: inline-block;
	font-size: .6em;
}

.back:before{
	margin-right: .4em;
	transform:rotate(180deg);
}

.forward:after{
	margin-left: .4em;
}
