/* 

	DEMO.CSS – Estilos solo para visualizar las páginas de demo (snippets) 
	$0 archivos @font-face: tipografía
	$2 Tipografía
	$3 Botones
*/


/*$0 archivos @font-face: tipografía -------------------- */

/* Tipografía Lato */

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/lato-bold.woff') format('woff'),
         url('../fonts/lato/lato-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/lato-regular.woff') format('woff'),
         url('../fonts/lato/lato-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/lato-italic.woff') format('woff'),
         url('../fonts/lato/lato-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/*Tipografía Source Code Pro*/

@font-face {
    font-family: 'source code';
    src: url('../fonts/sourcecode/SourceCodePro-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* $1 Base -------------------- */

/* Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; } /* For IE 6/7 (triggers hasLayout) */

/* apply a natural box layout model to all elements 
(if supporting <IE8, use a pollyfill: https://github.com/Schepp/box-sizing-polyfill ) */
* { 
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
		    box-sizing: border-box; 
}

html{
	margin: 0;
	padding: 0;
}

body{
	background: #F4F4D9;
	color: #2D211F;
	font: 1.2em/1.8 lato, sans-serif;
	margin: 2em 0;
	padding: 1em 2em;
}


/* $2 Tipografía -------------------- */
h1{
	font-size: 2.2em;
	line-height: 1.2;
	margin-bottom: 1em;
	font-weight: bold;
	text-transform: uppercase;
}

h2{
	font-size: 1.5em;
	line-height: 1.2;
	margin-bottom: .5em;
	font-weight: bold;
	text-transform: uppercase;
}

li{
	margin-bottom: .3em;
}

/* $3 Botones -------------------- */

.back{
	text-decoration: none;
	color: #2D211F;
	vertical-align: middle;
}

.back:before{
	content: "\279b";
	margin-right: .1em;
	speak: none;
	vertical-align: baseline;
	display: inline-block;
	-webkit-transform:rotate(180deg);
	   -moz-transform:rotate(180deg);
	    -ms-transform:rotate(180deg);
	     -o-transform:rotate(180deg);
		    transform:rotate(180deg);
}

.topbar{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		color: #F4F4D9;
		background: #2D211F;
		text-align: center;
	}
	
	.topbar .back{
		font-size: .8rem;
		border: none;
		float: left;
		margin-left: 2rem;
		margin-top: .55rem;
		color: #F4F4D9;
	}
	
	.topbar h1{
		display: inline-block;
		font-size: .8rem;
	}


.demo-links{
	margin-bottom: 3em;
	list-style: none;
	padding-left: 0;
}

.demo-links li{
	margin-bottom: .3em;
	font-family: lato, sans-serif;
	font-size: 1.2em;
	vertical-align: middle;
	padding: .5em;
}
.demo-links a{
	margin: 0 auto;
	color: #2D211F;
	text-decoration: none;
}

.demo-links a:hover{
	opacity: .8;
}

.demo-links a:after{
	content: "\279b";
	margin-left: .2em;
	speak: none;
	vertical-align: baseline;
}


@media screen and (min-width: 56em){
	.demo-links{
		display: flex;
		flex-wrap: wrap;
	}
	
	.demo-links li{
		flex-basis: 33%;
		min-width: 15em;
	}
}


dl{
	margin-bottom: 80px;
}

dt{
	background: #2D211F;
	color: #F4F4D9;
	padding-left: 5px;
	margin-bottom: 10px;
}

dd{
	margin-bottom: 40px;
}

code, pre{
	font-family: "source code", monospace;
}

code{
	word-wrap: break-word;
}

pre{
	background: rgba(45,33,31, .2);
	overflow: auto;
}

pre code{
	word-wrap: normal;
}

a{
	color: #2D211F;
	text-decoration: none;
	border-bottom: 1px dotted;
	word-wrap: break-word;
}

a:hover{
	border-bottom: 1px solid;
}

.index{
	margin-bottom: 3em;
}


/* RWD Layout */

@media screen and (min-width: 56em) {
	.index{
		position: fixed;
		max-height: 100%;
		overflow: auto;
		width: 20%;
		top: 2.5rem;
		left: 0;
		font-size: 1rem;
		list-style: none;
		padding-left: 2em;
		padding-bottom: 4rem;
		margin-bottom: 0;
	}	
	
	.main{
		float: right;
		width: 77%;
	}
	
	.main__block{
		padding-top: 2rem;
	}
}

.main__block{
	display: none;
}

.main__block:target{
	display: block;
}