.intro {
  margin: 0 calc(var(--spacing) * -1);
  padding: 3rem var(--spacing) 2rem calc(var(--spacing) - 10px);
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 2rem;
  background-color: $headbgcolor;
  border-left: 10px solid $headbordercolor;
  color: $white;
  @media (min-width: $breakpoint) {
    font-size: 3rem;
    padding-top: 2rem;
  }
}

.section-intro {
  margin-bottom: 4rem;
}
