
.topbar{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		color: $bgcolor;
		background: $headbgcolor;
		text-align: center;
	}

	.topbar .back{
		font-size: .8rem;
		border: none;
		float: left;
		margin-left: 2rem;
		margin-top: .55rem;
		color: $bgcolor;
	}

	.topbar h1{
		display: inline-block;
		font-size: .8rem;
	}
